[submodule "18445 Резка заготовок"]
	path = 18445 Резка заготовок
	url = ../18445-.git
[submodule "18451 КД"]
	path = 18451 КД
	url = ../18451.git
[submodule "18453 Царга+кронштейн - в расчёт"]
	path = 18453 Царга+кронштейн - в расчёт
	url = ../18453.git
